html,
body {
    height: 100%;
}

.carousel,
.item
 {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}

/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    
}
    


#fill_1{
    
    background-image:url(images/sec2.jpg);
}
#fill_2{
    background-image:url(images/sec2.jpg);
}
#fill_3{
    
    background-image:url(images/sec2.jpg);
}