a:hover {
    text-decoration: none;
    color: #778866;
}
a:visited {
    text-decoration: none;
    color: #778866;
}
a:
h1{
    text-decoration: none;
}
/* MENU */
body{
    background-color: #779988;
    background-image: url('images/bg.png');
   
}

#nav {
 background-color: #779988;
 float: left;
 margin: 0; padding: 0;
 width: 100%;

 text-align: center;
 height: 2.20cm;
}

#nav li a {
float: left;
height: 2.1cm;
width: 4.76cm;
}

#nav li {
float: left;
height: 2.1cm;
width: 4.76cm;  
padding: 0px;
 font-size: 13pt;
}

#nav li {
 list-style: none;
 position: relative;
 z-index: 10;
 margin: 0; padding: 0;
 
 }

#nav li a {
 padding: 1.0em;
 text-decoration: none;
 color: white;
 background:#779988;;
}

#nav a:hover {
 background: #778866;
  color: #115511;
 width: 100%;
}


/* Submenu */

#nav li ul {
 display: none;
 position: absolute;
 left: 0;
 top: 100%;
 
 padding: 0; margin: 0;
 
}

#nav li:hover > ul {
 display: block;
 
}

#nav li ul li, #nav li ul li a {
 float: none;
 text-align: left;
 height: 1.0cm;
 top:  auto;
 padding: 0.5em;
 width: 8cm;
}   
table{
    width: 2cm;
    height: 3cm;
   
}

#cont{
    
    width: 100%;
    height:13cm;
    background-image:url(images/sec.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: left;
}

#nav li ul li {
 _display: inline; /* for IE6 */
}

#nav li ul li a {
 width: auto;
 display: block;
}


/* SUBSUB Menu */

#nav li ul li ul {
 display: none;

}

#nav li ul li:hover ul {
 left: 100%;
 top: 0;
 
}

.note{
    
    margin-top: 2cm;
    margin-left: 130px;
    width: 15cm; 
}
.buton{
    width: 5cm;
    background-color:#778866;
    text-align: center;
    height: 1.2cm;
    margin-top: 0.7cm;
    font-size: 15pt;
    color: white;
    
}
.bar {
    margin-top: 10px;
background-color: #115511;
height: 15px;
width: 9.4cm;
}

a {
color: #115511;
}
.spac
{
    background-color: #779988;
height: 5cm;
width: 9.4cm;
}
.mar{
    margin-top: 20px
}
.contact{
background-color: #779988;
height: 1.5cm;
width: 100%;
text-align: center;
    
}
.searchBox {
background-color: white;
width: 100%;
height: 2.5em;
margin: 2em 0 2em 0;
position: relative;
display: inline-block;
}
.searchBox input[type="search"] {
-webkit-appearance: textfield;
font-family: 'Proxima-light';
font-size: 1em;
margin: 0 auto;
padding: 4px;
width: 100%;
height: 2.5em;
background-color: white;
display: inline-block;
float: none;
}
input[type="submit"] {
border: none;
font-family: 'Proxima-light';
font-size: 1em;
margin: 0 auto;
padding: 0;
}
.searchIcon {
width: 2.5em;
height: 2.5em;
background-color: #119988;

background-position: center center;
background-repeat: no-repeat;
position: absolute;
right: 0;
bottom: 0;
z-index: 0;
display: inline-block;
}

.mobileFooterWidth {
height: 6.8em;
margin-top: 2.0cm;
}
.socialRow {
width: 2.6em;
height: 100%;
display: inline-block;
float: right;
margin: 0 0 0 1em;
}
.fbBtn {
display: inline-block;
position: relative;
width: 2em;
height: 2em;
background-color: #779988;

background-position: right bottom;
background-repeat: no-repeat;
float: right;
margin: 0.4em 0.4em auto;
}
.tweetBtn {
display: inline-block;
position: relative;
width: 2em;
height: 2em;
background-color: #779988;

background-position: center center;
background-repeat: no-repeat;
float: right;
margin: 0.4em 0.4em auto;
}
.LinkedInBtn {
display: inline-block;
position: relative;
width: 2em;
height: 2em;
background-color: #779988;

background-position: center center;
background-repeat: no-repeat;
float: right;
margin: 0.4em 0.4em auto;
}
.whiteLine {
width: 2px;
height: 100%;
background-color:#115511;
float: right;
display: inline-block;
position: relative;
margin-top: 0.4em;
}
.legalLinks {
display: inline-block;
float: left;
width: 50%;
padding: 0;
margin: 0;
}
.legalLinks {
display: inline-block;
margin-left: 3%;
color: #115511;
font-size: 1em;
position: relative;
float: left;
}
.row, .tallRow {
clear: both;
padding: 0 0px;
margin: 0;
}
.tallRow {
margin-bottom: 1em;
min-height: 3em;
}
.mobileOnly {
position: absolute;
top: -9999px;
left: -9999px;
}
.mi>li>a{
    color: #115511;
    text-align: center;
}
.mi>li{
    list-style-type: none;
}

.mobileFooterWidth {
height: 6.8em;
}

.divider{
    
    margin: 0px;
    height:0.2cm;
    width:100%;
    background-color: #115511;
    
}
#foot{
     width: 100%;
     height:11cm;;
     background-image:url(images/footer_2.jpg);
     font-size: 12pt;
     background-size: 100% 100%;
     background-repeat: no-repeat;
     margin-bottom:0px;
     text-align: left;
       
}
.loog{
     float: left;
}
.min_tab{
    
    height: 3cm;
    width: 8cm;
    background-color: #aaccdd;
    margin-left: 0.8cm;
    margin-top:0.3cm;
    box-shadow: 2px 2px 2px 2px grey;
    border-radius: 8px;
    text-align:center;
}

.w_min_tab{
    text-align: center;
    background-color: #779988;
    border-radius: 5px;
    width: 6cm;
    margin-left:1cm;
    
    
}
.max_tab{
    margin-bottom: 2cm;
    
}
.hed{
    background-color:#ebebeb;
    height:2cm;
    margin-left: 2.77cm;
    margin-right: 2.75cm;
    text-shadow: 2px 2px 2px black;
    margin-top: 0px;
    

}

#soln{
    margin-bottom: 0cm;
    margin-top: 1cm;
}
.logo{
    background-image:url(images/logo.png);
      height: 4cm;
      width:6cm;
      background-repeat: no-repeat;
      background-size: contain;
    
}
.soul{
      background-image:url(images/solution.gif);
      height: 3.8cm;
      width:9cm;
      background-repeat: no-repeat;
      background-size: contain;
    
}
#icon{
    width:4cm;
    height:4cm;
    background-color: grey;
    background-image:url(images/icon5.png);
    background-repeat: no-repeat;
      background-size: contain;
}
#icon2{
    width:4cm;
    height:4cm;
    background-color: white;
    background-image:url(images/sec2.jpg);
    background-repeat: no-repeat;
      background-size: contain;
}
#icon3{
    width:4cm;
    height:4cm;
    background-color: grey;
    background-image:url(images/icon1.png);
    background-repeat: no-repeat;
      background-size: contain;
}
#icon4{
    width:4cm;
    height:4cm;
    background-color: grey;
    background-image:url(images/icon2.png);
    background-repeat: no-repeat;
      background-size: contain;
}
#icon5{
    width:4cm;
    height:4cm;
    background-color: grey;
    background-image:url(images/icon3.png);
    background-repeat: no-repeat;
      background-size: contain;
}
#record{
    margin-top:0.4cm;
    height:10cm;
    background-image:url(images/records.jpg);
    background-repeat: no-repeat;
      background-size: cover;
        
}
#finance{
    margin-top:0.4cm;
    height:10cm;
    background-image:url(images/finance.jpg);
    background-repeat: no-repeat;
      background-size: cover;
        
}
#lawfirm{
    margin-top:0.4cm;
    height:10cm;
    background-image:url(images/lawfirm.png);
    background-repeat: no-repeat;
      background-size: cover;
        
}
#health{
    

    margin-top:0.4cm;
    height:10cm;
    background-image:url(images/health.jpg);
    background-repeat: no-repeat;
      background-size: cover;
        

}
#manufacture{
    margin-top:0.4cm;
    height:10cm;
    background-image:url(images/manufacture.jpg);
    background-repeat: no-repeat;
      background-size: cover;
    
    
}

#industry{
    margin-top:0.4cm;
    height:10cm;
    background-image:url(images/industry.png);
    background-repeat: no-repeat;
      background-size: cover;
    
    
}
#sme{
    margin-top:0.4cm;
    height:10cm;
    background-image:url(images/industry.png);
    background-repeat: no-repeat;
      background-size: cover;
    
    
}
#shereding{
    margin-top:0.4cm;
    height:10cm;
    background-image:url(images/industry.png);
    background-repeat: no-repeat;
      background-size: cover;
    
    
}
#recordstorage{
    margin-top:0.4cm;
    height:10cm;
    background-image:url(images/industry.png);
    background-repeat: no-repeat;
      background-size: cover;
    
    
}